.awards {
  padding-top: 80px;
  padding-bottom: 80px;
}

.awards-title {
  margin: 0 0 17px;
  text-align: center;
  padding: 0;
  font-size: 32px;
}

.awards-text {
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto 62px;
  max-width: 680px;
  text-align: center;
}

.awards-list {
  padding-left: 0;
  margin-bottom: 88px;
  list-style: none;
  @include clearfix;
  li {
    float: right;
    display: block;
    padding: 10px;
    max-width: 50%;
    overflow: hidden;
    position: relative;
  }
  img {
    max-width: 100%;
    border: 6px solid #fff;
    box-shadow: 0 0 0 1px #ccc;
  }
}

.awards-button {
  text-align: center;
  .btn-transparent {
    padding-right: 30px;
    padding-left: 30px;
  }
}
