.comprehensive-help {
  padding: 100px 0 55px;
  .pull-left {
    width: 370px;
  }
  .pull-right {
    width: 465px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 37px;
      padding-left: 120px;
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .icon-first::before {
    @include stitches-sprite(-160px, -339px, 80px, 80px);
  }
  .icon-second::before {
    @include stitches-sprite(-320px, -339px, 80px, 80px);
  }
  .icon-third::before {
    @include stitches-sprite(-240px, -339px, 80px, 80px);
  }
  .icon-forth::before {
    @include stitches-sprite(-80px, -339px, 80px, 80px);
  }
  .icon-fifth::before {
    @include stitches-sprite(0, -339px, 80px, 80px);
  }
}

.comprehensive-title {
  margin: 0 0 15px;
  padding: 0;
  font-size: 32px;
}

.comprehensive-text {
  line-height: 30px;
  margin-bottom: 95px;
  font-size: 18px;
}

.comprehensive-more {
  text-decoration: none;
  border-bottom: 1px solid #bfbfbf;
  display: inline-block;
  margin-bottom: 43px;
  font-size: 18px;
  &:not(:hover) {
    color: #000;
  }
}

.comprehensive-head {
  font-size: 22px;
  margin-bottom: 13px;
}

.comprehensive-description {
  color: #5d5d5d;
}