body, html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

a:active, a:hover, a:link, a:visited {
  text-decoration: none
}

a, .as-link {
  color: #01b5e5;
  transition: all 0.3s ease;
  &:hover {
    color: #0387ab;
  }
}

.as-link {
  cursor: pointer;
}

b, strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

h1,
.h1 {
  font-size: 30px;
}

h2,
.h2 {
  font-size: 26px;
}

h3,
.h3 {
  font-size: 22px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.text {
  &-center {
    text-align: center
  }
  &-left {
    text-align: left
  }
  &-right {
    text-align: right
  }
  &-justify {
    text-align: justify
  }
  &-bold {
    font-weight: bold
  }
  &-italic {
    font-style: italic;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-nowrap {
    white-space: nowrap;
  }
}

.pull {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}

/* list-unstyled */
.list {
  &-unstyled {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}
