.home-info-center {
  background-color: #f5f5f5;
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }
}

.home-info-center__desc {
  max-width: 495px;
  line-height: 1.6;
}

.home-info-center__partner {
  li {
    display: inline-block;
    vertical-align: top;
    &:not(:first-of-type):not(:last-of-type) {
      margin: 0 20px;
    }
  }
}
