.modal-form {
  max-width: 400px;
  .btn-blue {
    width: 100%;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .form-group {
    padding-bottom: 15px;
  }
}

.modal-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.modal-text {
  font-size: 14px;
}
